[addons.database]
default_path = "./external"
enabled = true

[addons.database.databases]

[addons.backup]
enabled = false
backup_path = "./backups"
interval_minutes = 60
backup_all = true
target_databases = []

[database]
bloom_false_positive_rate = 0.001
cache_size = 5000
compaction_threshold = 8
enable_compression = false
max_memtable_size = 10000

[logging]
level = "info"

[performance]
adaptive_cache = true
enable_metrics = true
metrics_interval = 60
target_cache_hit_rate = 0.85

[security]
audit_log_path = "./velocitydb_audit.log"
audit_logging = true
auth_ban_duration = 300
max_auth_failures = 5

[server]
bind_address = "127.0.0.1:2005"
connection_timeout_seconds = 300
enable_tls = false
max_connections = 1000
rate_limit_per_second = 1000

[users]
