[addons.database]
default_path = "./externals_dbs"
enabled = true

[addons.database.databases]
test123 = './externals_dbs\test123'

[database]
bloom_false_positive_rate = 0.001
cache_size = 5000
compaction_threshold = 8
enable_compression = false
max_memtable_size = 10000

[logging]
level = "info"

[performance]
adaptive_cache = true
enable_metrics = true
metrics_interval = 60
target_cache_hit_rate = 0.85

[security]
audit_log_path = "./velocitydb_audit.log"
audit_logging = true
auth_ban_duration = 300
max_auth_failures = 5

[server]
bind_address = "127.0.0.1:2005"
connection_timeout_seconds = 300
enable_tls = false
max_connections = 1000
rate_limit_per_second = 1000

[users]
admin = "$argon2id$v=19$m=19456,t=2,p=1$GDWQpkPCnz9uM5W2SBpCmw$RNLHaiBA1s5wdbQSKJ28JzwD30wohA5KoB+W8MZOxic"
apikey = "$argon2id$v=19$m=19456,t=2,p=1$DI0aLTzckKjPM06YKrayFQ$Be7CbjSs/ZjKBvXQkdhmuNt6IBkgCIxbf8+s0utFDmI"
